body {
  height: 1000vh;
  background-color: #CCC;
}

.fa-angle-double-down {
  position: fixed;
  bottom: 20%;
  left: 50%;
  font-size: 5rem;
  transform: translateX(-50%);
  animation-name: bounce;
}

.header {
  background: black;
  color: white;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  transition: all .3s ease;
}
.header.out {
  transform: translateY(-100%);
}
.header a {
  color: white;
}
