body {
  /* background-color: #c3e2e2; /* Цвет фона */ */
  background-position: center center;
  background-image: url(карта/карта2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
