h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
  overflow: hidden;
}
*,
*::before
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
   /* Путь к фоновому изображению */
  background-color: #AAAAAA;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a {
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}
img {
  vertical-align: top;
}
main {
  width: 100%;
  margin-top: 150px;
}
text {
  font-size: 12px;
  user-select: none;
  pointer-events: none;
}

/*body,html{font-family:"Roboto",bold;font-size:30px;line-height:40px}*/
.wrapper {
  min-height: 100%;
  overflow: hidden;   /*убирает горизонтальный дефолтный скрол на сайте */
}
/*body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}*/
[class^="button-"] {
  background-color: skyblue;
  /* Размещаем контейнеры по центру */
  /*display: grid;*/
  place-items: center;
}
main {
  display: grid;
  gap: 20px;
  /*height: 100vh;*/
  /* ! */
  grid-template-areas:
    "A A A A A A"
    "B B B B B B"
    "B B B B B B";
}

/*header {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}*/
._container {
  width: 993px;
  margin: 0px auto;
}
header {
  background-color: #2D2E2C;
  height: 63px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__conteiner {
  left: 0;
  display: flex;
  min-height: 63px;
  align-items: center;   /* выравнивает элементы по центру по высоте */
  justify-content: center;
}

.header__logo {
  align-items: center;
}

.logo_1733 {
  border: 1px solid #2D2E2C;
  background-color: #2D2E2C;
  padding: 5px 13px 9px;
  font-size: 18px;
  color: #F0F0F0;
  font-family: "Roboto";
  font-weight: normal;
}

.logo_1733:hover {
  padding: 5px 13px 9px;
  border: 1px solid #40423F;
  border-radius: 3px;
  background-color: #40423F;
}

.logo_quest:hover {
  color: #F0F0F0;
}

.logo_quest {
  color: #95CCDD;
}

#pipka {
  margin-top: 15px;
}

._logo {
  display: inline-block;
  align-items: center;
}
.header__doplogo {
  align-items: center;
}

img {
  margin: 14px;
}
img {
  vertical-align: top;
}

footer {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
.history {
  grid-area: A;
  justify-self : center;
  align-self : center;
  font-family:"Roboto",bold;
  font-size:30px;

  padding:30px 75px 30px;
  width: 700px;
  height: 248px;
  background-color: #D6D6D6;
}
.answers {
  grid-area: B;
  justify-self : center;
  align-self : center;
  display: grid;
    gap: 0px 80px;
    grid-template-areas:
      "O O O O O O    C C C C C C"
      "O O O O O O    C C C C C C";
}
.button1 {
  grid-area: O;
  justify-self : center;
  align-self : center;
}
.button2 {
  grid-area: C;
  justify-self : center;
  align-self : center;
}
.button {
  font-family:"Roboto",bold;
  font-size:30px;
  margin-top: 40px;
  padding:16px 15px 10px;
  width: 378px;
  height: 133px;
  background-color: #D6D6D6;
  text-align: center;
}
